---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$serif: 'Nunito', sans-serif;
$sans-serif: 'Nunito', sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials